<component name="ArtifactManager">
  <artifact type="war" name="springBootWarDemo:war">
    <output-path>$PROJECT_DIR$/Java/springBootWarDemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springBootWarDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springBootWarDemo-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springBootWarDemo:war exploded" />
    </root>
  </artifact>
</component>